@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  background-color: #1F1F1F; 
  color: #D8D8D8;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header { margin-bottom: 22px; }

header .wrapper {
  padding: 41px 0 28px; 
  border-bottom: 1px solid #292929;
  display: flex;
  justify-content: space-between;
}

h1 { text-indent: -9999px; }

h1 a {
  float: left;
  text-indent: 0;
}

nav { 
  flex-basis: 43.2%;
  position: relative; 
}

.hamburger { display: none; }

.hamburger div {
  width: 30px;
  height: 5px;
  margin-bottom: 3px;
  background-color: #000;
  cursor: pointer;
  text-indent: -9999px;
  transition: .3s ease-in-out;
}

.barone { transform: rotate(-45deg) translate(-4px, 4px); }
.bartwo { opacity: 0; }
.barthree { transform: rotate(45deg) translate(-7px, -9px); }

nav ul {
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
}

nav a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #D8D8D8;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

nav a::after { transition: .3s ease-in-out; }

nav li.active a::after, 
nav a:hover::after {
  content: "";
  width: 93%;
  margin-top: 12px;
  border-bottom: 4px solid #8FD0A6;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.filter-nav { margin-bottom: 20px; }

.filter-nav a {
  padding: 8px 11px 7px;  
  color: #D8D8D8;
  font-size: 10px;
  letter-spacing: .5px;
  text-transform: capitalize;
  transition: .3s ease-in-out;
}

.fn-active a,
.filter-nav a:hover { background-color: #8FD0A6; }

.filter-content {
  margin-bottom: 35px;  
  display: flex; 
  flex-wrap: wrap;
}

.filter-content li { 
  flex-basis: 25%; 
  transition: .3s ease-in-out;
}

.filter-content li:hover { opacity: .8; }

.filters {
  border-bottom: 1px solid #292929;
  margin-bottom: 30px;
}

.widget {
  padding-bottom: 6px;
  border-bottom: 1px solid #292929;
  display: flex;
  justify-content: space-between;
}

.widget div { flex-basis: 22.4%; }

h2, h3 {
  margin-bottom: 17px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-widget p { margin-bottom: 18px; }

.text-widget p,
.recent-posts a {
  color: #7C7C7C;
  font-size: 10px;
  line-height: 15px;
}

.recent-posts a { transition: .3s ease-in-out; }
.recent-posts a:hover { color: #D8D8D8; }

.recent-posts ul { 
  padding: 0; 
  font-size: 10px;
}

.recent-posts li {
  padding-bottom: 8px;
  border-bottom: 1px solid #292929;
  margin-bottom: 8px;
  display: block;
  text-transform: capitalize;
}

.recent-posts li:last-of-type { 
  border-style: none; 
  margin: 0;
}


.popular-tags a {
  padding: 8px 11px 7px;
  margin: 0 1px 7px;
  background-color: #8ED0A6;
  color: #D8D8D8;
  font-size: 10px;
}

.pt-active a, 
.popular-tags a:hover { background-color: #C1C1C1; }

.flickr-gallery ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flickr-gallery li { 
  margin-bottom: 7px; 
  transition: .3s ease-in-out;
}

.flickr-gallery li:hover { opacity: .8; }

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { padding: 15px 0; }

footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: #7C7C7C;
  font-size: 10px;
}

.social {
  display: flex;
  flex-basis: 16%;
  justify-content: space-between;
}

.social li { width: 12%; }

footer a {
  color: #7B7B7B;
  font-size: 12px;
  text-align: center;
  text-indent: -9999px;
}

footer a::before {
  width: 20px;
  height: 16px;
  padding-top: 4px;  
  border-radius: 50%;
  background-color: #F3F3F3;
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
  transition: .3s ease-in-out;
}

footer li:first-child a::before { content: "\f0d5"; }
footer li:nth-child(2) a::before { content: "\f099"; }
footer li:nth-child(3) a::before { content: "\f0d2" }
footer li:nth-child(4) a::before { content: "\f17d"; }
footer li:nth-child(5) a::before { content: "\f0e1"; }
footer li:nth-child(6) a::before { content: "\f09a"; }
footer a:hover::before { color: #8ED0A6; }


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  